*{
    margin: 0%;
    padding: 0%;
}
    button{
    margin-left: 10%;
    border-radius:
    
}
input{
    width: 100%;
}
.b{
    background-color: blue;
    color: white;
    border: 1px solid;
    border-radius: 80px;
    width: 80%;
}
.b1{
    background-color: rgb(46, 83, 231);
    color: white;
    border: 1px solid;
    border-radius: 80px;
    width: 40%;
}
.b2{
    background-color:brown;
    color: white;
    border: 1px solid;
    border-radius: 80px;
    width: 20%;

}
.b3{
    background-color: green;
    color: white;
    border: 1px solid;
    border-radius: 80px;
    width: 15%;

}
.section{
    border: 1px solid;
    border-radius: 10px;
    margin-right: 1200px;
    padding-left:100px;
    height: 400px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: aliceblue;
  

}
.li{
   text-decoration: line-through;
   background-color: rgb(218, 224, 224);
   width: 100%;
}
